$themes: (
    default: (
        background: $light-theme-bg,
        experience-background: $experience-theme-bg-color,
        work-background: $work-theme-bg-color,
        work-active-bullet-background: $dark-bg,
        work-active-bullet-color: $light-color,
        color: $light-theme-color,
    ),
    dark: (
        background: $dark-theme-bg,
        experience-background: $experience-theme-bg-color-dark,
        work-background: $work-theme-bg-color-dark,
        work-active-bullet-background: $light-bg,
        work-active-bullet-color: $dark-color,
        color: $dark-theme-color,
    )
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
