$header-height: 100px;

$light-bg: #FAFAFA;
$light-color: #F1F3F4;
$dark-bg: #1E2227;
$dark-color: #333333;

$light-theme-bg: $light-bg;
$light-theme-color: $dark-color;
$dark-theme-bg: $dark-bg;
$dark-theme-color: $light-color;

$experience-theme-bg-color: #3F65A0;
$experience-theme-bg-color-dark: #131519;

$work-theme-bg-color: #EEEEEE;
$work-theme-bg-color-dark: #292f35;

$footer-height: 70px;