@import "~swiper/dist/css/swiper.css";
@import "variables";
@import "fonts";
@import "color-themes";

@mixin non-decorated-anchor {
    a {
        text-decoration: none;
        color: inherit;
    }
}

@mixin non-decorated-ul {
    ul {
        margin: 0 128px 0 0;
        padding: 0;
        @media (max-width: 959px) {
            margin: 0 80px 0 0;
        }

        @media (max-width: 656px) {
            margin: 0 20px 0 0;
        }

        list-style-type: none;
         li {
             display: inline-block;
         }
    }
}

@mixin section {
    .head {
        width: 100%;
        height: 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 4px;
        margin-bottom: 30px;

        @include themed() {
            color: t('color');
        }
    }

    .content {
        min-height: 360px;
        width: 800px;
        font-size: 18px;
        letter-spacing: 1px;
        margin: auto;

        @include themed() {
            color: t('color');
        }

        @media (max-width: 420px) {
            width: 350px;
            font-size: 16px;
        }

        @media (max-width: 656px) and (min-width: 421px) {
            width: 400px;
        }

        @media (max-width: 799px) and (min-width: 657px) {
            width: 480px;
        }

        @media (max-width: 960px) and (min-width: 800px) {
            width: 540px;
        }
    }
}

.bold {
    font-weight: bold;
}

.lg-text {
    font-size: 20px;
}

.italic {
    font-style: italic;
}


html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;

    #root, .wrapper {
        width: 100%;
        height: 100%;
        font-family: 'Nunito Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

.wrapper {
    header {
        width: 100%;
        height: $header-height;
        line-height: $header-height;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;

        @include themed() {
            background: t('background');
            color: t('color');
        }

        @media (max-width: 656px) {
            font-size: 16px;
        }

        @media (max-width: 420px) {
            font-size: 14px;
            height: 70px;
            line-height: 70px;
        }

        @include non-decorated-anchor;
        @include non-decorated-ul;

        .nav-index {
            float: left;
            margin-left: 128px;
            @media (max-width: 959px) {
                margin-left: 80px;
            }

            @media (max-width: 656px) {
                margin-left: 28px;
                font-size: 16px;
            }

            a::before {
                content: "Bony Roopchandani";
                @media (max-width: 1023px) {
                    content: ""
                }
            }
        }

        ul {
            float: right;
            li {
                margin: 0 15px;

                #switch {
                    position: relative;
                    top: 10px;
                }
            }
        }
    }

    #about {
        width: 100%;
        padding: 50px 0 42px 0;

        @include themed() {
            background: t('background');
        }

        .normal, .terminal {
            position: absolute;
            font-size: 22px;
            cursor: pointer;
            animation: zoom-in-out 1s infinite;
            animation-play-state: running;

            &.paused {
                animation-play-state: paused;
            }

            @include themed() {
                color: t('color');
            }

            @keyframes zoom-in-out {
                0% {
                    transform: scale(1,1);
                }
                50% {
                    transform: scale(1.4,1.4);
                }
            }
        }

        .normal {
            right: 30px;
        }

        .terminal {
            right: 24px;
        }

        .console {
            position: relative;
            bottom: -42px;
            height: 360px;
            width: 800px;
            margin: auto;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .about-normal {
            height: 320px;
            width: 800px;
            margin: auto;
            font-size: 40px;
            letter-spacing: 1px;
            
            @include themed() {
                color: t('color');
            }

            @media (max-width: 420px) {
                width: 350px;
                font-size: 30px;
                letter-spacing: 0px;
            }
    
            @media (max-width: 656px) and (min-width: 421px) {
                width: 400px;
                font-size: 32px;
            }
    
            @media (max-width: 799px) and (min-width: 657px) {
                width: 480px;
                font-size: 34px;
            }
    
            @media (max-width: 960px) and (min-width: 800px) {
                width: 540px;
                font-size: 36px;
            }

            .wave-hand {
                animation-name: wave-animation;
                animation-duration: 2s;
                animation-delay: 0.5s;
                animation-iteration-count: 1;
                transform-origin: 70% 70%;
                display: inline-block;

                @keyframes wave-animation {
                    0% { transform: rotate(  0.0deg) }
                   10% { transform: rotate(-10.0deg) }
                   20% { transform: rotate( 12.0deg) }
                   30% { transform: rotate(-10.0deg) }
                   40% { transform: rotate(  9.0deg) }
                   50% { transform: rotate(  0.0deg) }
                  100% { transform: rotate(  0.0deg) }
                }
            }
        }
    }

    #experience {
        width: 100%;
        padding: 30px 0;
        @include section;
        .content, .head {
            color: #F1F3F4 !important;
            -webkit-font-smoothing: antialiased;
        }

        @include themed {
            background: t('experience-background');
        }

        .exp-head {
            margin: 80px 0 40px 0;
            line-height: 30px;

            @media (max-width: 420px) {
                line-height: 24px;
            }

            img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                float: left;
                display: block;
                margin: -4px 18px 0 -80px;
                background-color: white;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                opacity: 0.8;
                z-index: 0;

                @media (max-width: 420px) {
                    margin: -8px 18px 0 0;
                }

                @media (max-width: 595px) and (min-width: 421px) {
                    display: none;
                }
            }
        }

        .exp-det {
            @media (max-width: 420px) {
                display: none;
            }
        }
    }

    #work {
        width: 100%;
        padding: 30px 0;
        @include section;

        @include themed() {
            background: t('work-background');
        }

        .content {
            width: 100%;
            display: flex;

            @media (max-width: 656px) {
                width: 80%;
            }
        }

        .swiper-pagination {
            display: none;
        }

        .portfolio-box {
            width: 28%;
            margin: 20px;
            border-radius: 5px;

            @include themed() {
                background: t('background');
            }

            @media (max-width: 1024px) {
                width: 33%;
            }

            @media (max-width: 824px) {
                width: 50%;
            }

            @media (max-width: 656px) {
                width: 100%;
                margin: 20px 0;
            }

            .project-content {
                padding: 25px 25px 0 25px;

                .project-title {
                    @extend .bold;
                    display: block;
                }

                .project-link {
                    position: relative;
                    left: 10px;
                    cursor: pointer;
                    color: #1682FB;
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            > div {
                position: relative;
            }
        }
    }

    footer {
        width: 100%;
        height: $footer-height;
        line-height: $footer-height;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-align: center;
        -webkit-font-smoothing: antialiased;

        @include themed() {
            background: t('background');
            color: t('color');
        }

        @include non-decorated-anchor;
        @include non-decorated-ul;
        
        ul {
            margin: 0;
            li {
                margin: 0 15px;
            }
        }
    }
}

.switch-toggle {
	display: none;
	&, &:after, &:before, & *, & *:after, & *:before, & + .switch-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .switch-btn {
		outline: 0;
		display: block;
		width: 3.5em;
		height: 2em;
		position: relative;
		cursor: pointer;
        user-select: none;
		&:after, &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .switch-btn:after {
		left: 50%;
	}
}

.skills {
    margin-top: 30px;

    span {
        font-size: 14px;
        border: 1px solid;
        border-radius: 3px;
        padding: 3px;
        margin: 0 1em 0.5em 0;
    }
}

.switch-toggle {
	+ .switch-btn {
		padding: 3px;
		transition: all .2s ease;
        border-radius: 2em;
        
        @include themed() {
            background: t('background');
            border: 4px solid t('color');
        }

		&:after {
			transition: all .2s ease;
			background: $dark-theme-color;
			content: "";
            border-radius: 3em;
            
            @include themed() {
                background: t('color');
            }
		}
	}
  
	&:checked + .switch-btn {
    &:after {
        left: 50%;
    }
  }
}